.container__baner{
    position: relative;
    width: 100%;
    
}
.container__baner h1{
    position: absolute;
    top: 15rem;
    left: 22rem;
    color: white;
    font-size: 40px;
}
.img-fluid{
    width: 100%;
}