.card-agus.card-img-top{
    width: 100%;
    height: 90%;
    
    border-radius: 50%;
     
}
.card-leo {
    border-radius: 50%;
    
}
.card{
    margin: 2rem 5rem;
    border: none;
}
.somos__titulo{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
}